{% extends 'base.html.twig' %}

{% block body %}
    <h1>Произошла ошибка</h1>
    {% for message in app.flashes('error') %}
        <div style="color: red">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block title %}Ошибочка{% endblock %}
